{{- if .IsHome -}}
{{- $base := .Site.BaseURL -}}
{{- $graph := slice
    (dict
      "@type" (slice "EducationalOrganization" "ResearchOrganization")
      "@id" (printf "%s#organization" $base)
      "name" .Site.Title
      "alternateName" (slice "LamaLab" "Laboratory for AI in Materials Science")
      "url" $base
      "description" .Site.Params.description
      "parentOrganization" (dict "@type" "CollegeOrUniversity" "name" "Friedrich Schiller University Jena" "url" "https://www.uni-jena.de/")
      "founder" (dict "@id" (printf "%s#kevin" $base))
      "member" (dict "@id" (printf "%s#kevin" $base))
      "sameAs" (slice
        "https://github.com/lamalab-org"
        "https://www.linkedin.com/company/lamalab-org"
        "https://x.com/jablonkagroup"
        "https://bsky.app/profile/jablonkagroup.bsky.social"
        "https://lamalaborg.substack.com"))
    (dict
      "@type" "Person"
      "@id" (printf "%s#kevin" $base)
      "name" "Kevin Maik Jablonka"
      "givenName" "Kevin Maik"
      "familyName" "Jablonka"
      "jobTitle" "Group Leader"
      "url" $base
      "affiliation" (dict "@type" "CollegeOrUniversity" "name" "Friedrich Schiller University Jena" "url" "https://www.uni-jena.de/")
      "worksFor" (dict "@id" (printf "%s#organization" $base))
      "sameAs" (slice
        "https://scholar.google.com/citations?user=R2ntI8IAAAAJ&hl=en"
        "https://orcid.org/0000-0003-4894-4660"
        "https://github.com/kjappelbaum"
        "https://kjablonka.com"))
-}}
<script type="application/ld+json">
{{ (dict "@context" "https://schema.org" "@graph" $graph) | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end -}}
